In [ ]:
#opening csv file
import pandas as pd
pd.read_csv("sample.csv").head()

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  5  4

In [8]:
x = open ('./sample.csv', 'r')
x.read()

'A,B,C,D,E\n1,2,3,4,5\n1,2,3,5,4'

In [9]:
#you need to close the file
x.close()

In [12]:
with open('sample.csv', 'r') as f:
    print(f.read())

A,B,C,D,E
1,2,3,4,5
1,2,3,5,4

In [ ]:
import csv
with open('sample.csv') as f:
    reader = csv.DictReader(f) #converts the csv as a dictonary

In [18]:
#creating a new file and write on it

with open('cities.txt', 'w') as f:
    f.write('Dallas | London| Copenhagen')