Working with JSON files

In [3]:
import json
#with open to load the json file
with open('playlist.json', 'r') as f:
    data = json.load(f) #recommended method. It keeps json file as it is without changing the format to a string

data['playlist_name']
type(data)
# to open the entire dataset replace data['playlist_name'] with data

dict

In [ ]:

with open('playlist.json', 'r') as f:
    df = f.read() #no recommended
type(df) #this returns a single string and it losing its uniqueness. 
#working with this becomes a hassle since you need to do string manipulation

{
  "playlist_name": "My_Jams",
  "created_by": "Chacha",
  "tracks": [
    {
      "title": "Stan",
      "artist": "Eminem",
      "album": "The Marshall Mathers LP",
      "duration_sec": 405
    },
    {
      "title": "In Da Club",
      "artist": "50 Cent",
      "album": "Get Rich or Die Tryin",
      "duration_sec": 240
    },
    {
      "title": "Suzanna",
      "artist": "Sauti Sol",
      "album": "Midnight Train",
      "duration_sec": 239
    },
    {
      "title": "Many Men",
      "artist": "50 Cent",
      "album": "Get Rich or Die Tryin",
      "duration_sec": 256
    },
    {
      "title": "Bad Liar",
      "artist": "Imagine Dragons",
      "album": "Origins",
      "duration_sec": 243
    }
  ]
}

##Exploring JSON 
Let's check what is held within it

In [4]:
data.keys()

dict_keys(['playlist_name', 'created_by', 'tracks'])

In [5]:
data.items()

dict_items([('playlist_name', 'My_Jams'), ('created_by', 'Chacha'), ('tracks', [{'title': 'Stan', 'artist': 'Eminem', 'album': 'The Marshall Mathers LP', 'duration_sec': 405}, {'title': 'In Da Club', 'artist': '50 Cent', 'album': 'Get Rich or Die Tryin', 'duration_sec': 240}, {'title': 'Suzanna', 'artist': 'Sauti Sol', 'album': 'Midnight Train', 'duration_sec': 239}, {'title': 'Many Men', 'artist': '50 Cent', 'album': 'Get Rich or Die Tryin', 'duration_sec': 256}, {'title': 'Bad Liar', 'artist': 'Imagine Dragons', 'album': 'Origins', 'duration_sec': 243}])])

In [6]:
data.values()

dict_values(['My_Jams', 'Chacha', [{'title': 'Stan', 'artist': 'Eminem', 'album': 'The Marshall Mathers LP', 'duration_sec': 405}, {'title': 'In Da Club', 'artist': '50 Cent', 'album': 'Get Rich or Die Tryin', 'duration_sec': 240}, {'title': 'Suzanna', 'artist': 'Sauti Sol', 'album': 'Midnight Train', 'duration_sec': 239}, {'title': 'Many Men', 'artist': '50 Cent', 'album': 'Get Rich or Die Tryin', 'duration_sec': 256}, {'title': 'Bad Liar', 'artist': 'Imagine Dragons', 'album': 'Origins', 'duration_sec': 243}]])

In [ ]:
#accessing the third song
data['tracks'][2]['title']

{'title': 'Bad Liar',
 'artist': 'Imagine Dragons',
 'album': 'Origins',
 'duration_sec': 243}

In [13]:
#getting the origins
data['tracks'][-1]['album']

'Origins'

Transforming JSON Schema
transforming JSON into a flatter structure, which we can use for analysis

In [17]:
"""
load the JSON file
iterate over the dataset and create a new dictionary from the data points

"""

tracks = data['tracks']
tracks

[{'title': 'Stan',
  'artist': 'Eminem',
  'album': 'The Marshall Mathers LP',
  'duration_sec': 405},
 {'title': 'In Da Club',
  'artist': '50 Cent',
  'album': 'Get Rich or Die Tryin',
  'duration_sec': 240},
 {'title': 'Suzanna',
  'artist': 'Sauti Sol',
  'album': 'Midnight Train',
  'duration_sec': 239},
 {'title': 'Many Men',
  'artist': '50 Cent',
  'album': 'Get Rich or Die Tryin',
  'duration_sec': 256},
 {'title': 'Bad Liar',
  'artist': 'Imagine Dragons',
  'album': 'Origins',
  'duration_sec': 243}]

In [ ]:
# we use this method if we want to change the Key's name and if you only want specific keys

flattened_tracks = []

for track in tracks:
    #we need to append track info from a JSON
    flattened_tracks.append({
            'title': track['title'],
            'artist': track['artist'],
            'album': track['album'],
            'duration_sec': track['duration_sec'],
            'length in min': track['duration_sec']/60
            
        })
flattened_tracks
#convert the dict to a df
df2 = pd.DataFrame(flattened_tracks)
df2.head()

,title,artist,album,duration_sec,length in min
0,Stan,Eminem,The Marshall Mathers LP,405,6.750000
1,In Da Club,50 Cent,Get Rich or Die Tryin,240,4.000000
2,Suzanna,Sauti Sol,Midnight Train,239,3.983333
3,Many Men,50 Cent,Get Rich or Die Tryin,256,4.266667
4,Bad Liar,Imagine Dragons,Origins,243,4.050000

In [ ]:
#if you want to make sure the code is dynamic:
for track in tracks:

    dict_keys = list(track.keys())

    print(dict_keys)

    flattened_tracks.append({

        dict_keys[0]: track['title'],

        dict_keys[1]:track['artist'],

        dict_keys[2]: round(track['duration_sec'] / 60 ,2)

    })



df2 = pd.DataFrame(flattened_tracks)



df2.head()

In [33]:
#using pandas to make JSON dataset a csv
import pandas as pd
with open('playlist.json', 'r') as f:
    playlist =json.load(f)
df = pd.DataFrame(playlist['tracks']) #convert a dict to a dataframe
df.to_csv('tracks.csv', index = False) #to save as a csv file to acces later
#by index we mean numbering therefore creating a column on its own
df.head()

        title           artist                    album  duration_sec
0        Stan           Eminem  The Marshall Mathers LP           405
1  In Da Club          50 Cent    Get Rich or Die Tryin           240
2     Suzanna        Sauti Sol           Midnight Train           239
3    Many Men          50 Cent    Get Rich or Die Tryin           256
4    Bad Liar  Imagine Dragons                  Origins           243

In [34]:
import json
import csv
#loading json file
with open('playlist.json', 'r') as f:
    data = json.load(f)
#creating a csv file
with open('playlist.csv', 'w', newline="")as f: #
    writer = csv.DictWriter(f, fieldnames=['title', 'artist', 'album', 'duration_sec'])
    #f as file you want to add data abd fieldnames as keys
    writer.writeheader() #creates the columns
    writer.writerows(data['tracks']) #where rows are coming from